.product-price__actual-price {
    height: 24px;
    margin: 0;
    color: var(--text-black, #000);
    text-align: right;
}

@media screen and (max-width: 1023px) {
    .product-price__actual-price {
        height: 2.34375vw;
    }
}

@media screen and (max-width: 767px) {
    .product-price__actual-price {
        height: 7.5vw;
    }
}