.product-card__checkbox {
    margin-top: 40px;
}

.product-card__checkbox_mobile {
    position: absolute;
    top: 1.25vw;
    left: 1.25vw;
    filter: none;
    
}


@media screen and (max-width: 1023px) {
    .product-card__checkbox {
        margin-top: 3.9063vw;
    }
}