.delete {
    min-width: 20px;
    height: 20px;
    border: 0;
    padding: 0;
    background-image: url(../../../PUBLIC/icons/cart_icons/trashcan.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-image 0.3s ease-in-out;
}

.delete:hover {
    background-image: url(../../../PUBLIC/icons/cart_icons/trashcan_active.svg);
}

@media screen and (max-width: 1023px) {
    .delete {
        min-width: 2.1484vw;
        height: 2.1484vw;
    }
}

@media screen and (max-width: 767px) {
    .delete {
        min-width: 6.25vw;
        height: 6.25vw;
        background-size: 6.25vw 6.25vw;
    }
}