.header__title {
    width: 106px;
    margin: 0 0 10px 0;
    text-transform: uppercase;

    color: var(--system-white, #FFF);
    font-family: Segoe UI;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.85714;
    font-variant: all-small-caps;
    letter-spacing: 2.1px;
}
.header__title_mobile {
    margin: 0;
    color: var(--system-white, #FFF);
    font-family: Segoe UI;
    font-size: 8.38vw;
    font-style: normal;
    font-weight: 600;
    line-height: 7.5vw;
    font-variant: all-small-caps;
    text-transform: uppercase;
    letter-spacing: 0.8vw;
    padding: 3.4375vw 1.25vw 6.5625vw 1.25vw;
    white-space: nowrap;
}
@media screen and (max-width: 1023px) {
    .header__title {
        max-height: 4.6875vw;
        width: 10.3516vw;
        margin-bottom: 0.9766vw;
        font-size: 2.89vw;
        letter-spacing: 0.2vw;
    }
}
