.delivery-back {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 8px 0 0 0;
}

@media screen and (max-width: 1023px) {
    .delivery-back {
        gap: 0.78125vw; /* 8px / 10.24 */
        margin-top: 0.78125vw; /* 8px / 10.24 */
    }
}

@media screen and (max-width: 767px) {
    .delivery-back {
        gap: 2.5vw;
        margin: 0 2.5vw;
    }
}