.card__description-text {
    color: var(--system-gray, #9797AF);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.23077;
    margin: 8px 0 0 0;
}

@media screen and (max-width: 1023px) { 
    .card__description-text  {
        font-size: 1.2695vw;
    }
}

@media screen and (max-width: 767px) { 
    .card__description-text  {
        font-size: 5vw;
    }
}