.header__cart-icon {
    margin-left: -8px;
    width: 28px;
    height: 28px;
}

@media screen and (max-width: 1023px) {
    .header__cart-icon {
        margin-left: -0.78125vw; /* -8px / 10.24 */
        width: 2.734375vw;
        height: 2.734375vw;
    }
}
