.header__menu-icons {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    margin-right: 20px;
}

@media screen and (max-width: 1023px) {
    .header__menu-icons {
        gap: 3.9063vw;
        margin-right: 1.9531vw;
    }
}
