.product-photo_1 {
    background-image: url(../../../PUBLIC/assets/cart_images/tshirt.png);
}

.product-photo_2 {
    background-image: url(../../../PUBLIC/assets/cart_images/case.png);
}

.product-photo_3 {
    background-image: url(../../../PUBLIC/assets/cart_images/pens.png);
}

.product-photo {
    position: relative;
    width: 40px;
    height: 56px;
    border-radius: 8px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    cursor: pointer;
}



@media screen and (max-width: 1023px) {
    .product-photo {
        width: 3.9063vw;
        height: 5.4688vw;
        border-radius: 0.7813vw;
    }
}


@media screen and (max-width: 767px) {
    .product-photo {
        width: 12.8125vw;
        height: 17.5vw;
        border-radius: 2.5vw;
    }
}