.summary__semi-title {
    margin: 24px 0 0 0;
    color: var(--text-black, #000);
}

@media screen and (max-width: 1023px) {
    .summary__semi-title {
        margin: 2.34375vw 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .summary__semi-title {
        display: none;
    }
}

