.delivery-type__btn {
    border-radius: 20px;
    border: 2px solid rgba(203, 17, 171, 0.15);
    background: var(--text-white, #FFF);
    min-width: 224px;
    padding: 9px 0 11px 0;

    color: var(--text-black, #000);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.23077;
}

.delivery-type__btn_active {
    border: 2px solid #CB11AB;
}

@media screen and (max-width: 1023px) {
    .delivery-type__btn {
        border-radius: 1.9531vw;
        border: 0.1953vw solid rgba(203, 17, 171, 0.15);
        background: var(--text-white, #FFF);
        min-width: 21.875vw;
        padding: 0.8789vw 0 1.0742vw 0;

        color: var(--text-black, #000);
        font-family: Segoe UI;
        font-size: 1.2695vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1914;
    }

    .delivery-type__btn_active {
        border: 0.1953vw solid #CB11AB;
    }
}

@media screen and (max-width: 767px) {
    .delivery-type__btn {
        border-radius: 6.25vw;
        border-width: 0.625vw;
        min-width: calc(50%-2.5vw);
        padding: 2.8125vw 0 3.4375vw 0;
        font-size: 4.0625vw;
    }

    .delivery-type__btn_active {
        border: 0.625vw solid #CB11AB;
    }
}
